@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("IBM Plex Mono Regular"), local("IBMPlexMono-Regular"),
    url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("IBM Plex Sans Regular"), local("IBMPlexSans-Regular"),
    url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("IBM Plex Serif Regular"), local("IBMPlexSerif-Regular"),
    url("../fonts/IBMPlexSerif-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexSerif-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local("IBM Plex Serif Bold"), local("IBMPlexSerif-Bold"),
    url("../fonts/IBMPlexSerif-Bold.woff2") format("woff2"),
    url("../fonts/IBMPlexSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("IBM Plex Serif Light Italic"), local("IBMPlexSerif-LightItalic"),
    url("../fonts/IBMPlexSerif-LightItalic.woff2") format("woff2"),
    url("../fonts/IBMPlexSerif-LightItalic.woff") format("woff");
}

:root {
  --color-background: hsla(5, 20%, 95%, 100%);
  --color-primary: #fd0606;
  --color-secondary: #4200ff;
  --color-tertiary: #ff8c00;
  --color-quartiary: #ff00b8;
  --color-text: #27373b;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: inline;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: 6em;
  width: auto;
  display: block;
  margin-bottom: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Serif", Courier, monospace;
  background-color: var(--color-background);
  padding-bottom: 4em;
}

section {
  padding: 1rem;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.heading {
  font-family: "IBM Plex Serif", serif;
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 1rem;
  display: inline-block;
}

.kicker {
  font-family: "IBM Plex Serif", serif;
  color: var(--color-text);
  font-weight: 400;
}

.kicker-link {
  font-family: "IBM Plex Serif", serif;
  color: var(--color-secondary);
  font-size: 0.9rem;
  font-weight: 900;
  margin-left: -0.3rem;
}

.email {
  margin-left: 0.1rem;
}

.name {
  font-family: "IBM Plex Serif", serif;
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 1rem;
}

.work {
  font-family: "IBM Plex Serif", serif;
  color: var(--color-text);
}

.project-link {
  font-family: "IBM Plex Serif", serif;
  display: inline-block;
  font-weight: 600;
}

.project-link:hover {
  color: var(--color-primary);
}

.contact-link {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 0.2em solid var(--color-primary);
  box-shadow: 0.2em 0.2em var(--color-primary);
  padding: 0.1em 0.6em;
  display: inline-block;
  vertical-align: top;
}

.contact-link:hover {
  color: var(--color-background);
  border: 0.2em solid var(--color-quartiary);
  background-color: var(--color-quartiary);
  box-shadow: 0.2em 0.2em var(--color-quartiary);
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.tertiary {
  color: var(--color-tertiary);
}

.quartiary {
  color: var(--color-quartiary);
}
