html {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/safehousebg.jpg") center center; /* image credit: Blaise Arnold */
  background-size: cover;
}

.wrap {
  width: 90%;
  height: 100vh;
  margin: 4rem auto;
}

a,
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  text-decoration: none;
  color: #ddd;
  font-size: 0.9rem;
  display: block;
  margin: 0.2rem auto;
}

a:hover {
  background: linear-gradient(
    330deg,
    #e05252 0%,
    #99e052 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1800px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
}
