* {
	margin: 0;
  box-sizing: border-box;;
}

body {
  background: url("../img/safehousebg.jpg") center center; /* image credit: Blaise Arnold */
  background-size: cover;
}

.wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 6rem 0;
}

h1, h2, h3, a {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: calc(2em + 4vw);
  font-weight: 700;
  padding-bottom: 2rem;
  letter-spacing: 0.3em;
  color: #fff;
}

h3 {
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  /* font-size: 1em; */
  font-size: calc(0.6em + 0.9vw);
  margin-bottom: 0.8rem;
  color: #0ff;
}

a {
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ddd;
  padding: 1.2rem 0;
  /* font-size: 0.6em; */
  font-size: calc(0.5em + 0.6vw);
  display: block;
  margin: 0 auto;
}

.glitch {
 position: relative;
}

.glitch:before, .glitch:after {
  display: block;
  content: 'EVIL PAPER';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}
.glitch:after {
  color: #f0f;
  z-index: -2;
}
.glitch:before {
  color: #0ff;
  z-index: -1;
}
.glitch:hover:before {
  -moz-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.glitch:hover:after {
  -moz-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

@-moz-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media (max-width: 1800px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 900px) {

}

@media (max-width: 600px) {


}
